[Desktop Entry]
Name=breeze-papirus
Comment=Default theme with Papirus icons

X-KDE-PluginInfo-Author=mjkim0727
X-KDE-PluginInfo-Email=kmj10727@gmail.com
X-KDE-PluginInfo-Name=breeze-papirus
X-KDE-PluginInfo-Version=5.108.0
X-KDE-PluginInfo-Website=https://plasma.kde.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=5.0

[Wallpaper]
defaultWallpaperTheme=Next
defaultFileSuffix=.png
defaultWidth=1920
defaultHeight=1080

[ContrastEffect]
enabled=true
contrast=0.2
intensity=1.4
saturation=10

[AdaptiveTransparency]
enabled=true
